
#root {
  .episode-list {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    list-style: none;
    padding:0;
    .episode {
      flex-basis:20%;
      a{
        text-decoration: none;
      .episode-title {
        font-weight: 700;
        font-size: 18px;
      }
      }

    }
  }
}
@media screen and (max-width: 850px) {
    #root {
  .episode-list {
    margin-top:50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding:0;
    .episode {
      display:flex;
      flex-direction:row;
      width:100%;
      .episode-image{
        width:30%;
      }
      .episode-title {
        font-weight: 700;
        font-size: 20px;
        padding-left: 20px;
      }
    }
  }
}
}
